.advantages {
font-size: 14px;
line-height: 21px;
font-weight: normal;
}

.advantages__block {
margin: 0;
min-height: 168px;
background-color: @lightgray;
&--active {
min-height: 190px;
background-color: @blue;
}
@media (min-width: @tablet-width) {
min-height: 256px;

}
@media (min-width: @desktop-width) {

}
}

.advantages__title {
font-size: 18px;
line-height: 26px;
font-weight: bold;
text-align: center;
color: @black;
@media (min-width: @mobile-width-only) {
margin: 0;
padding-top: 25px;
br {
display: none;
}
}
@media (min-width: @tablet-width) {
br {
display: block;
}
font-size: 21px;
line-height: 26px;
padding-top: 40px;
}
&--active {
color: @white;
@media (min-width: @mobile-width-only) {
padding-top: 35px;
}
@media (min-width: @tablet-width) {
br {
display: block;
}
padding-top: 40px;
}
@media (min-width: @desktop-width) {
padding-top: 50px;
br {
display: block;
}
}
}

}

.advantages__number {
margin: 0;
margin-top: 10px;
text-align: center;
color: @darkgray;
&--active {
color: @white;
}
@media (min-width: @tablet-width) {
margin-top: 13px;
}
}

.advantages__description {
margin: 0;
padding-top: 17px;
padding-left: 35px;
padding-right: 35px;
text-align: center;
color: @darkgray;
&--active {
color: @white;
@media (min-width: @mobile-width-only) {
padding-left: 20px;
padding-right: 20px;
}
}
@media (min-width: @tablet-width) {
margin-top: 22px;
padding: 0 40px;
br {
display: none;
}
}
@media (min-width: @desktop-width) {
padding: 0 45px;
}
}

.advantages-1__wrapper {
@media (min-width: @tablet-width) {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width: @desktop-width) {
margin: auto;
max-width: @desktop-width;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
}

.block2 {
height: 260px;
width: auto;
justify-content: center;

@media (min-width: @tablet-width) {
height: 256px;
justify-content: center;


grid-column-start: 2;
grid-column-end: -1;
}
@media (min-width: @desktop-width) {
height: 256px;
justify-content: center;

grid-column-start: 2;
grid-column-end: -1;
}
}

.advantages-2__wrapper {
@media (min-width: @tablet-width) {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: min-content min-content;
grid-template-areas:
"image image text-active"
"text5 text6 text7"
}
@media (min-width: @desktop-width) {
margin: auto;
max-width: @desktop-width;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: min-content min-content;
grid-template-areas:
"image image text-active"
"text5 text6 text7"
}
}

.block3 {
grid-area: text-active;
}

.block4 {
height: 260px;
grid-area: image;

@media (min-width: @tablet-width) {
height: 256px;
}
@media (min-width: @desktop-width) {
height: 256px;

grid-area: image;
}
}

.block5 {
grid-area: text5;
}

.block6 {
grid-area: text6;
}

.block7 {
grid-area: text7;
}
