.button {
display: block;
vertical-align: middle;
padding: 15px;
font: inherit;
font-size: 21px;
line-height: 26px;
font-weight: bold;
text-align: center;
color: @white;
vertical-align: middle;
background-color: @blue;
}
