.intro {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  background-color: @white;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }

  &--inner {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 37px;
    z-index: 1;
    bottom: -55px;
    left: 50%;
    margin-left: -160px;
    background-color: @blue;
    background-size: cover;
    background-image: url("../img/bg-triangle.svg");

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.intro--inner::after {
  display: none;
}


.intro__header {
  min-height: 242px;
  margin: 0;

  @media (min-width: @tablet-width) {
    min-height: 160px;
  }

  @media (min-width: @desktop-width) {
    min-height: 160px;
  }

  &--photos {
    min-height: 314px;
    margin: 0;

    @media (min-width: @tablet-width) {
      min-height: 248px;
    }

    @media (min-width: @desktop-width) {
      min-height: 286px;
    }
  }
}

.intro__title {
  margin: 0;
  padding-top: 385px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }

  &--inner {
    padding-top: 160px;

    @media (min-width: @tablet-width) {
      margin: 0;
      padding-top: 60px;
      font-size: 30px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 100px;
    }
  }

  &--inner-form {
    @media (min-width: @desktop-width) {
      padding-top: 115px;
    }
  }
}

.intro__description {
  margin-top: 30px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: @darkgray;

  @media (min-width: @tablet-width) {
    margin-top: 32px;
    margin-bottom: 40px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }

  &--inner {
    line-height: 24px;

    @media (min-width: @tablet-width) {
      padding-left: 165px;
      padding-right: 165px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 35px;
      padding-left: 380px;
      padding-right: 380px;
    }
  }
}

.intro__icon {
  position: absolute;
  z-index: 3;
  width: 282px;
  top: 56px;
  left: 50%;
  margin-left: -141px;

  @media (min-width: @tablet-width) {
    width: 460px;
    top: 76px;
    left: 50%;
    margin-left: -230px;
  }

  &--inner {
    width: 229px;
    top: 20px;
    left: 50%;
    margin-left: -115px;

    @media (min-width: @tablet-width) {
      width: 457px;
      top: 95px;
      left: 50%;
      margin-left: -229px;
    }

    @media (min-width: @desktop-width) {
      width: 460px;
      top: 100px;
      left: 50%;
      margin-left: -230px;
    }
  }
}

.intro__image {
  position: absolute;
  width: 100%;
  height: 389px;
  top: -34px;
  left: 0;
  z-index: 1;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 389px cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #aab7c0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    position: static;
    height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    height: 518px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 26px;
    z-index: 1;
    bottom: -1px;
    left: 50%;
    margin-left: -160px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/bg-intro-triangle-mobile.svg");

    @media (min-width: @tablet-width) {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      height: 57px;
      margin-left: -384px;
      top: 461px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      margin-left: -600px;
      top: 461px;
    }
  }
}

.intro__image--inner {
  position: absolute;
  width: 100%;
  height: 158px;
  top: -34px;
  left: 0;
  z-index: 1;
  background-size: 902px cover;
  background-position: 50% bottom;

  @media (min-width: @tablet-width) {
    position: static;
    height: 290px;
    background-size: 1200px cover;
  }

  @media (min-width: @desktop-width) {
    height: 301px;
  }

  &::before {
    @media (min-width: @tablet-width) {
      top: 233px;
    }

    @media (min-width: @desktop-width) {
      top: 244px;
    }
  }
}
