.main-nav__container {
@media (min-width: @tablet-width) {
display: flex;
justify-content: space-between;
width: 738px;
}
@media (min-width: @desktop-width) {
display: flex;
justify-content: space-between;
width: 960px;
}	
}	

.main-nav__wrapper-left {
@media (min-width: @tablet-width) {
display: flex;
justify-content: space-between;
width: 270px;
}
@media (min-width: @desktop-width) {
display: flex;
justify-content: space-between;
width: 270px;
}	
}

.main-nav__list {
margin: 0;
padding: 0;
list-style: none;
}

.main-nav__item {
align-items: center;
text-align: center;
background-color: @blue;
a {
margin-top: 10px;
margin-bottom: 5px;
font-size: 18px;
line-height: 40px;
font-weight: bold;
color: @white;
}
}

