.page {
  width: auto;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.page__body {
  min-width: @mobile-width-only;
  height: 100%;
  margin: 0;
  background-color: @white;
  color: @darkgray;
}

.page__container {

  position: relative;
  width: @mobile-width-only;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    height: auto;
    margin: 0 auto;
    background-color: @white;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
