.photos__item {
min-height: 414px;

@media (min-width: @desktop-width) {
min-height: 267px;
.photos__caption {

background-color: @black;
}

&--top {
min-height: 400px;
}
}

@media (min-width: @tablet-width) {
min-height: 347px;
&--top {
min-height: 480px;
}
&:nth-child(even) {
.photos__caption {
background-color: #eaeaea;
}
}
&:nth-child(odd) {
.photos__caption {
background-color: #f2f2f2;
}
}
}


}

.photos__caption {
min-height: 90px;
@media (min-width: @tablet-width) {
min-height: 80px;
display: flex;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
@media (min-width: @desktop-width) {

}
&--top {
background-color: #f2f2f2;
}
}
@media (min-width: @desktop-width) {


}

}



.text__title {
margin: 0;
padding-top: 10px;
font-size: 14px;
line-height: 24px;
font-weight: bold;
text-align: left;
color: @black;
@media (min-width: @tablet-width) {
padding-top: 15px;
}
@media (min-width: @desktop-width) {
color: @white;
}
}

.text__author {
margin: 0;
font-family: inherit;
text-transform: none;
text-align: left;
color: @darkgray;
@media (min-width: @desktop-width) {
color: @white;
}
}

.like__number {
position: relative;
margin: 0;
font-size: 14px;
line-height: 24px;
font-weight: bold;
text-align: left;
color: @black;
padding-left: 37px;
@media (min-width: @desktop-width) {
color: @white;
}

&::before {
content: "";
position: absolute;
width: 23px;
height: 23px;
top: 0px;
left: 5px;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: contain;
opacity: 0.3;

background-image: url("../img/icon-like.svg");

@media (min-width: @desktop-width) {
background-image: url("../img/icon-like-white.svg");
opacity: 1;
}

}
}

.photos__like {
min-width: 64px;
padding-top: 10px;
@media (min-width: @tablet-width) {
padding-top: 27px;
}
}

.photos__photo {
height: 280px;
margin-top: 23px; 
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
&--sunset {
background-image: url("../img/photo-sunset-mobile@1x.jpg");
}
&--cactus {
background-image: url("../img/photo-cactus-mobile@1x.jpg");
}
&--roads {
background-image: url("../img/photo-roads-mobile@1x.jpg");
}
&--bridge {
background-image: url("../img/main-bridge-mobile@1x.jpg");
}

@media (min-width: @tablet-width) {
height: 267px;
margin-top: 0px;
&--sunset {
background-image: url("../img/photo-sunset-tablet@1x.jpg");
}
&--cactus {
background-image: url("../img/photo-cactus-tablet@1x.jpg");
}
&--roads {
background-image: url("../img/photo-roads-tablet@1x.jpg");
}
&--bridge {
background-image: url("../img/main-bridge-tablet@1x.jpg");
}	
}

@media (min-width: @desktop-width) {
height: 267px;
margin-top: 0px;
&--sunset {
background-image: url("../img/photo-sunset-desktop@1x.jpg");
}
&--cactus {
background-image: url("../img/photo-cactus-desktop@1x.jpg");
}
&--roads {
background-image: url("../img/photo-roads-desktop@1x.jpg");
}
&--bridge {
background-image: url("../img/main-bridge-desktop@1x.jpg");
}
}
}

.photos__item--top {
@media (min-width: @tablet-width) {
.photos__photo {
height: 400px;	
}
}
}

