.text__title {
font-size: 14px;
line-height: 24px;
font-weight: bold;
text-align: left;
color: @black;
}

.text__author {
font-family: inherit;
text-transform: none;
text-align: left;
color: @darkgray;
}

.like__number {
font-size: 14px;
line-height: 24px;
font-weight: bold;
text-align: left;
color: @black;
}

.photos__caption {
min-height: 80px;
padding-left: 20px;
padding-right: 20px;
display: flex;
justify-content: space-between;
background-color: f2f2f2;
}

.photos__photo {
height: 280px;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
&--sunset {
background-image: url("../img/photo-sunset-mobile@1x.jpg");
}
&--cactus {
background-image: url("../img/photo-cactus-mobile@1x.jpg");
}
&--roads {
background-image: url("../img/photo-roads-mobile@1x.jpg");
}
&--bridge {
background-image: url("../img/main-bridge-mobile@1x.jpg");
}

@media (min-width: @tablet-width) {
height: 267px;
&--sunset {
background-image: url("../img/photo-sunset-tablet@1x.jpg");
}
&--cactus {
background-image: url("../img/photo-cactus-tablet@1x.jpg");
}
&--roads {
background-image: url("../img/photo-roads-tablet@1x.jpg");
}
&--bridge {
background-image: url("../img/main-bridge-tablet@1x.jpg");
}	
}

@media (min-width: @desktop-width) {
height: 267px;
&--sunset {
background-image: url("../img/photo-sunset-desktop@1x.jpg");
}
&--cactus {
background-image: url("../img/photo-cactus-desktop@1x.jpg");
}
&--roads {
background-image: url("../img/photo-roads-desktop@1x.jpg");
}
&--bridge {
background-image: url("../img/main-bridge-desktop@1x.jpg");
}
}
}


.photos__item {
@media (min-width: @tablet-width) {
&:nth-child(1) {
.photos__photo {
height: 400px;	
}
}
}
@media (min-width: @desktop-width) {
&:nth-child(1) {
.photos__photo {
height: 400px;	
}
}
}
}