.search-hotel {
font-size: 14px;
line-height: 26px;
font-weight: normal;
background-color: @white;
}

.search-hotel__title {
margin: 0;
padding: 0;
margin-top: 32px;
font-size: 18px;
line-height: 26px;
font-weight: bold;
text-align: center;
color: @black;
}

.search-hotel__description {
margin: 0;
padding: 0;
text-align: center;
color: @darkgray;
}

.search-hotel__button {
width: 250px;
margin: auto;
}
